.hvr{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    transition:1s box-shadow;
}
.hvr:hover{
  transform: translateY(-6px);
  box-shadow: 0px 10px 20px 2px rgba(107, 255, 255, 0.7);
  
}
.linkhvr:hover{
  color: aqua;

}
.hvr:hover{
  -webkit-box-shadow:0px 0px 300px 61px rgba(45,255,196,0.59);
-moz-box-shadow: 0px 0px 300px 61px rgba(45,255,196,0.59);
box-shadow: 0px 0px 300px 61px rgba(45,255,196,0.59);
}
.cv:hover{
  -webkit-box-shadow:0px 0px 300px 41px rgba(67,142,247,1);
-moz-box-shadow: 0px 0px 300px 41px rgba(67,142,247,1);
box-shadow: 0px 0px 300px 41px rgba(67,142,247,1);
}
.linkhvr:hover{
  -webkit-box-shadow:0px 0px 300px 41px rgba(67,142,247,1);
-moz-box-shadow: 0px 0px 300px 41px rgba(67,142,247,1);
box-shadow: 0px 0px 300px 41px rgba(67,142,247,1);
}
.linkhvr{
  text-decoration: none !important ;
}
.box{


border-right: 1px solid  rgb(247, 67, 67);
animation: colour-change 2s infinite;
}
@keyframes colour-change{
 
  50%{
    border-right: 1px solid  rgba(67,142,247,1);
  }
  0%{
    border-right: 1px solid  rgb(247, 67, 67);
  }
  

}
.box1{
  border-right: 1px solid  rgb(247, 67, 67);
  animation: colour-change2 2s infinite;
  padding-bottom: 5%;
  }
  @keyframes colour-change2{
   
    50%{
      border-right: 1px solid  rgba(67,142,247,1);
    }
    0%{
      border-right: 1px solid  rgb(247, 67, 67);
    }
   
  
  }
/* #About{
  background-color: rgba(67,142,247,1) ;
  border-radius: 75px;
} */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  
  /* box-shadow: 0 0 0 5px #0dcaf088; */
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #0dcaf0;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #0dcaf0;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #ff0000;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
